.checkbox {
    appearance: none;
    //  border: 1px solid grey;
    height: 22px;
    min-width: 42px;
    border-radius: 50px;
    position: relative;
    background-color: #E5E5E5;;
    transition: all 500ms ease-out;
    cursor: pointer;
    &:checked {
        background-color: #2C5BDE;
        transition: all 500ms ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: white;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        transition: all 500ms ease-out;
      }

      &:checked::after {
        transform: translateX(calc(100% + 2px));
        transition: all 500ms ease-out;
      }
      
}