@import './variables/variables';

.footer {

    &__wrapper {
        background-color: $background_dark;
    }

    &__separator {
        height: 1px;
        background-color:rgba(239, 243, 251, 0.34);
    }

    &__nav{
        height: 126px;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    &__nav-link {
        color: #FFFFFF;
    }

    &__info {
        height: 97px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rights {
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    &__social-icons {
        width: 190px;
        display: flex;
        justify-content: space-between;
    }
}