@import './variables/variables';

.page-with-cards {

    &__path-wrapper {
        padding-top: 32px;
        margin-bottom: 40px;
    }

    &__page-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $dark_blue;
        margin-bottom: 10px;
    }

    &__cards-background {
        background: #F7F9FC;
        position: absolute;
        left: 0;
        right: 0;
    }

    &__сards-container {
        display: flex;
        flex-wrap: wrap;
        min-height: 825px;
        align-content: flex-start;
        padding: 0 30px;
        padding-top: 22px;
        margin: 0 auto;
        max-width: 1240px;
        gap: 20px;
    }
}