@import "fonts";
@import 'header';
@import 'footer';
@import 'loader';
@import "tariffs";
@import "slider";
@import "tariffcard";
@import "buttons";
@import "constructor";
@import "inputs";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
    /* Убираем маркеры */
  }

  
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  .container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 30px;
    width: 100%;

    &--padding-top {
      padding-top: 44px;
    }
  }

  .main {
    min-height: 100vh;
  }


  .page-content-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    &--tariffs-filter {
      margin-bottom: 16px;
    }

    &--constructor {
      margin-bottom: 56px;
    }
  }
  .flex-wrapper {
    display: flex;
  }



  .path-info{
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #6C6C6C;
    display: flex;
    &__item {
      margin-right: 12px;
      &--active {
        color: #2C5BDE        ;
      }
    }
    &__right-arrow {
      margin-right: 22px;
    }
  }