.tariffs-filter-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 280px;
  }

.tariffs-page-content {
    margin-top: 60px;
    margin-bottom: 80px;
  }

.tariffs-filter-list{
    &__item {
        height: 64px;
        width: 280px;
        border-bottom: 1px solid #EFF3FB;
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
}
    &__btn{
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #002233;
        letter-spacing: 0.02em;
    }

    &__right-arrow{
        width: 12px;
    }
}

.tariffs-container {
    padding-left: 20px;
    width: 100%;

    &__cards-container{
        padding-top: 18px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.tariffs-container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tariff-search{
    display: flex;
    align-items: center;
    width: 622px;
    position: relative;
    &__input {
        flex-grow: 1;
        height: 48px;
        border: 1px solid #EFF3FB;
        border-radius: 6px ;
        padding-left: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 24px;
        padding-right: 76px;

        &:focus {
            outline: none;
            border: 1px solid #679AF0;
        }
    
    }

    &__btn {
        position: absolute;
        right: 0px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 11.5px 28px;
    }
}

.make-tariff-link {
    background: none;
    padding: 12px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2C5BDE;
    border: 2px solid #2C5BDE;
    border-radius: 6px;
    cursor: pointer;
    &:focus,
    &:hover {
        background: #2C5BDE;
        color:white;   
}
}