.tariff-card {
    min-width: 280px;
    max-width: 280px;
    min-height: 460px;
    border: 1px solid #2C5BDE;
    border-radius: 6px;

    &__image{
        max-height: 134px;
        min-height: 134px;
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        position: relative;
        display: flex;

        img {
            object-fit: cover;
        }
    }

    &__content {
        padding: 17px;
        padding-top: 10px;

        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    &__title {
        min-height: 50px;
        max-height: 50px;
        overflow: hidden;
    }

    &__trafic-limit {
        height: 40px;
    }

    &__benefits{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #2C5BDE;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 18px;
    }

    &__connect-container {
        max-width: 249px;
        min-height: 122px;
        max-height: 122px;
        background: #F1F1F1;
        border-radius: 6px;
        padding: 14px;
        padding-left: 11px;
    }

    &__connect-container-price {
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        color: #002233;
        text-indent: 9px;
    }

    &__connect-container-days {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #2C5BDE;
        margin-left: 13px;
    }

    &__connect-container-abon {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #002233;
        text-indent: 9px;
        margin-top: 9px;
    }

    &__connect-btns-container {
        margin-top: 20px;
    }

    &-connect-btns{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__details {
            font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #2C5BDE;
        }
    }

    &__image-hit {
        position:absolute;
        top: 5px;
        right: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        background: #2C5BDE;
        border-radius: 6px;
        color: #FFFFFF;

        padding: 4px 13px;
    }
}